.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5em;
    width: 70vw;
    margin: 0 auto;
}

header,
nav,
section,
article,
aside,
footer{
    background-color: blue;
    padding: 5px;
    color: white;
}

header{
    grid-column: 1 / 6;
}

nav{
    grid-column: 1/6;
}

section{
    grid-column: 1/5;
    grid-row: 3/ 6;    
}

article{
    grid-column: 1/5;
}

.flex-container{
    display: flex;
}

.flex-container div{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(56, 67, 161);   
}

aside{
    grid-column: 5/6;
    grid-row: 3/7;
}

footer{
    grid-column: 1/6;
    grid-row: 7/8;

    margin-bottom: 0;
}