*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none
    
}

html{
    font-size: 16px;
}

.container{
    margin: 0 auto;
    width: 70vw;
}
.item1,
.item2{
    display: inline-block;
    width: 49%;
    border: 1px solid black;
}

.item1{
    padding: 2rem;
    font-size: 32px;
}

.item2{
    padding: 2em;

}


